[user]
	name = M.Aoyama
	email = maruuca.com@gmail.com
[init]
	defaultBranch = main
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[credential]
	helper = "!f() { /root/.vscode-server/bin/1e790d77f81672c49be070e04474901747115651/node /tmp/vscode-remote-containers-a3728222-7c3e-4715-a5a9-0010778ee307.js git-credential-helper $*; }; f"
