Django==4.2.6
django-bootstrap4==23.2
pillow==10.2.0
django-bootstrap-form
gunicorn==21.2.0
packaging==23.2
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.6.0
boto3==1.34.63
django-storages==1.14.2
stripe