body {
    font-family: 'Hiragino Sans','Yu Gothic','Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 1rem;
    color: #F57F00;
    margin-bottom: 5px;
    font-weight: 600;  
}

a {
    color: #444444;
    text-decoration: none;
}

li {
    list-style: none;
}

.button {
    background-color: #F57F00; 
    color: white;
}

.btn_basic {
    height: auto;
    width: auto;
    background-color: #F57F00;
    color: #FFF;
    padding: 0.5em 1.3em;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
}


/* 中央揃え */
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* 区切り線 */
.hr_1 {
    border-top: 1px dotted #444444;
    margin: 15px 0;
}

/* フォーム */
.form_container {
    width: 80%;
    max-width: 350px;
    margin: 30px auto;
}
.form_container button {
    float: right;
    margin-bottom: 30px;
}

input[type="submit"] {
    font-size: 0.9em;
    color: #FFF;
    background-color: #F57F00;
    float: right;
}


/* ログインページ */
.login_container {
    max-width: 300px;
    width: 300px;
}

/* TOP */
/* ヘッダー */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 0.8em;
    height: 110px;
    max-width: 100%;
    max-height: 100%;
}

.logo-container > p {
    display: inline;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    text-wrap: nowrap;
}

.logo-container > h1 > a > img {
    height: 80px;
}

header nav {
    padding-right: 15px;
    text-align: right;
}

header nav > a {
   text-decoration: none; 
   font-size: 0.9em;
   color: #444444;
   padding: 0;
}

header nav p {
    margin-bottom: 5px;
}

/* ヘッダー右上ボタン */
.header_btn {
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #F57F00;
    color: #FFF;
    padding: 0.5em 1.3em;
    border-radius: 3px;
}


/* メインコンテンツ */

/* ヒーロー画像 */
.top-images {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 135, 5, 0.16);
    margin: 10px 0;
}

.carouselImg {
    margin: 0 auto;
}

.top-images > img {
    max-width: 100%;
    margin: 10px 0;
}


/* コンテンツ */
.main-contents {
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 90%;
 max-width: 1000px;
 margin: 20px auto;
}

.main-contents p {
    padding-bottom: 10px;
}

/* 左側コンテンツ */
.left-container {
    width: 40%;
}

.search-window {
    display: flex;
    width: 85%;
    margin-bottom: 10px;

}

.search-window > div {
    background-color: rgba(255, 135, 5, 0.16);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    width: 80%;
    text-wrap: nowrap;
}

input::placeholder {
    font-size: 0.7em;
   }

.search-window input[type="submit"] {
    width: 20%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-window span {
    background-color: #F57F00;
}

.search-area {
    width: 90%;
}

.search-area a {
    white-space: nowrap;
    line-height: 2.2em;
    margin-right: 1em;
    text-decoration: underline;
}

/* 右側コンテンツ */
.right-container {
    width: 40%;
}

.genre-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.genre-buttons a {
    flex: 0 0 calc(50% - 5px); /* 要素の幅を50%に設定し、間隔を考慮して10px引く */
    max-width: calc(50% - 5px); /* 最大幅も同じ */
}

.genre-buttons img {
    width: 100%;
    border-radius: 5px;
    
}

.genre-noimages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-link {
    padding-right: 15px;
    text-decoration: underline;
}


/* フッター */
footer {
    background-color: #F57F00;
    width: 100%;
    height: 70px;
    margin-top: 60px;
}

footer > nav {
    text-align: center;
    font-size: 14px;
    padding-top: 15px;

}

footer p {
    color: #FFF;
}

footer a {
    text-decoration: underline;
    color: #FFF;
    padding-left: 7px;
    padding-right: 7px;
}


/* 会社概要 */
.company_info {
    width: 50vw;
    min-width: 200px;
    margin: 150px auto;
}

.company_info h2 {
    text-align: center;
    margin-bottom: 30px;
}

.company_info table  {
    border-collapse: collapse;
    width: 100%;
}

.company_info td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* 店舗詳細ページ */

.shop_info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 360px;
    width: 100vw;
    background-color: rgba(255, 135, 5, 0.16);
    position: relative;
    padding: 0 50px 50px 50px;
}

/* お気に入り追加ボタン */
.btn_fav {
    height: auto;
    width: auto;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #F57F00;
    color: #FFF;
    position: absolute;
    right: 1rem;
    top: 25px;
    padding: 10px 20px;
}

/* 店舗詳細左 */

.shop_info_L {
    width: 30%;
    min-width: 250px;
    margin-right: 30px;

}

.shop_info_L p {
    font-size: 0.8rem;
}

.shop_info_L h1 {
    font-size: 1.5rem;
}

.shop_info_L img {
    width: 270px;
    min-width: 250px;
    max-width: 300px;
    border-radius: 2px;
}
/* 店舗詳細右 */

.shop_info_R {
    width: 60%;
    height: 200px;
    min-width: 300px;
    margin-left: 20px;
    padding-top: 12px;
} 

.info-container {
    display: flex;
    flex-direction: column;
}

.price_genre {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.info-scroll {
    height: 110px;
    overflow-y: scroll;
    margin-top: 10px;
}

.shop_info_R p {
    font-size: 0.9em;
}

#favorite-button {
    border-radius: 100%;
    padding: 14px 15px;
}

#favorite-button img {
    vertical-align: middle;
    width: 20px; 
    height: 20px;
}

/* レビューと予約 */
.shop_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 30px 60px 0 60px;


    
}

/* レビュー */
.review_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.review_top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.review_top_container h3,.review_top_container h3 p {
    display: inline-block;
}

.review_top_container > div {
    align-self: self-end;
}

.btn_rev {
    height: auto;
    width: auto;
    padding: 15px 20px;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #F57F00;
    color: #FFF;
    display: inline-block;
}

.review_scroll {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    border: 1px dotted #444444;
}

.review_contents {
    margin: 30px;
}

.review_images {
    display: flex;
    flex-direction: row;
}

.review_images img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    margin-right: 10px; 
}

/* スターの色を#F57F00に変更 */
.rating-stars {
    color: #F57F00;
}


/* 予約フォーム */
.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    filter: drop-shadow(0px 1px 1px #000000);
    padding-top: 33px;
    margin-left: 20px;
}

.booking_header {
    background-color: #F57F00;
    color: #FFF;
    text-align: center;
}

.booking_header p {
    font-size: 0.7em;
}

.booking_header, .booking_form {
    width: 300px;
    min-width: 200px;
}

.booking_form {
    background-color: #FFFDFB;
    height: auto;
    
}

.booking_form div {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 25px;   

}

.booking_form label {
    display: block;
    margin-bottom: 1px;
    font-size: 0.9em;
}

.booking_form input {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #929292;
    background-color: #FFF;
    color: #929292;
    width: 100%;
    height: 2.2em;
}

.booking_form input[name="booking_date"],
.booking_form input[name="numbers_of_ppl"],
.booking_form input[name="numbers_of_ppl"]
 {
    padding-left: 3px;
}


.booking_form button {
    background-color: #F57F00;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 33px;
    width: 100%;
}

/* 有料会以外の予約フォーム表示 */
.booking_n_form {
    background-color: #FFFDFB;
    width: 300px;
    min-width: 200px;
    text-align: center;
    
}

.booking_n_form p {
    text-align: center;
    padding-top: 80px;
}

.booking_n_form a {
    margin: 15px 0 90px 0;
}

/* 予約完了ページ */
.com_booking {
    margin: 40px auto;
    text-align: center;
}

.com_booking a {
    text-decoration: none;
}

/* 店舗検索一覧 */

.page_title {
    font-size: 0.9rem;
    padding: 15px;
    color: #000000;
}

.shop_list_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    margin-left: 100px;
    margin-right: 100px;

}

.shop_item {
    width: 200px;
    height: 300px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: #FFFDFD;
    margin-bottom: 10px;
}

.shop_item > div {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.shop_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop_item_text {
    padding: 1rem;
}

.shop_item_text p:nth-of-type(2){
    height: 61px;
    width: 168px;
    overflow-y: scroll;
}

.shop_item_text p {
    font-size: 0.8em;
}

/* ページネーションスタイル */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #F57F00;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.pagination-link:hover {
    background-color: #FFA726;
}

.current {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    font-size: 0.9rem;
}


/* レビュー投稿ページ */
.review_container {
    width: 65%;
    height: auto;
    margin: 30px auto;
}

.review_title {
    margin-bottom: 30px;
}

.review_title > p, .review_title > h1 {
    text-align: center;
}

.review_title > p {
    color: #F57F00;
}

.review_title > h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.review_submit_btn {
    float: right;
    margin-top: 20px;
}

/* マイページ */

.mypg_container {
    width: 80vw;
    margin: 50px auto;
    
}

.mypg_container th, td {
    font-size: 14px;
}

.new_booking_container {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    margin-top: 10px;
}

.tbl_container {
    border: #444444 1px dotted;
    border-radius: 5px;
}

.mypg_container table {
    width: 100%;
    border-collapse: collapse;
}


.mypg_container th, .mypg_container td {
    border-bottom: 1px dotted #000;
    padding: 8px;
    text-align: center;
}
.mypg_container th {
    background-color: #FFECD7;
    border: none;
}

.fav_rev_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto;
}

.fav_rev_tble {
    height: 300px;
    overflow-y: auto;
}

.fav_rev_item {
    width: 48%;
}

.fav_rev_item h3{
    padding-bottom: 5px;
}

.past_booking_container {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.past_booking_container th {
    background-color: #D9D9D9;
}
/* マイページ 会員情報 */
.mypg_user_info {
    margin-top: 50px;
}
.mypg_user_info_container {
    display: flex;
    flex-wrap: wrap;
    gap:5px 0;
    justify-content: left;
    width: 100%;
}

.mypg_user_info_item{
    display: inline-block;
    background-color: #FFECD7;
    border-radius: 5px;
    height: auto;
    width: auto;
    min-width: 145px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 1em;
    text-align: center;


}

.mypg_user_info_item a {
font-size: 0.9em;
color: #444444;
}

.mypg_container img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.3em;
}

/* パスワード */
.password {
    padding: 30px 0;
}
.password button{
    margin: 10px 0 0 7px;

}

/* フォームのスタイル */
 .form_container {
    max-width: 400px;
    margin: auto;
}

/* 入力欄の枠 */
.form-control {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* エラーメッセージ */
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}
/* 新規アカウント登録 */
.register {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}
.register h2 {
    text-align: center;
}

.float_r_button {
    float: right;
}


/* 有料会員誘導ページ */
.upgrade_container {
    text-align: center;
    margin: 50px 0;
}

.upgrade_box_container {
    background-color: #FFFDFB;
    box-shadow:2px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    width: 400px;
    height: 280px;
    margin: 0 auto 30px auto; 
}

.upgrade_box_title {
    background-color: #F57F00;
}

.upgrade_box_title h2{
    padding: 15px 0;
    font-size: 20px;
}
.upgrade_list_container {
    margin-top: 1rem;
}
.upgrade_list_container li {
    font-size: 18px;
    padding-top: 1.2em;
}

.upgrade_title_en {
    color: #F57F00;
    font-size: 0.9rem;
}

.upgrade_title_jp {
    font-size: 1.2rem;
    margin-top: -10px;
    margin-bottom: -2px;
}



@media screen and (max-width: 767px) {
    /* ヘッダー */
    .logo-container {
        display: flex;
        flex-direction: column;
        align-items:baseline;
        padding-left: 0;
        padding-top: 5px;
    }
    .logo-container > h1 > a > img {
        height: 80px;
    }
    
    header nav > a {
        text-decoration: none; 
        font-size: 0.9em;
        color: #444444;
        padding: 0;
     }
     
     header nav p {
         margin-bottom: 5px;
         font-size: 0.8em;
     }

    /* メインコンテンツ */
    .main-contents {
        flex-direction: column;
        width: 100%;
        padding-left: 5vw;
        row-gap: 10px;
    }
    /* 左側コンテンツ */
    .left-container {
        width: 100%;
}

    /* 右側コンテンツ */
    .right-container {
        width: 100%;
        margin-top: 30px;
        padding-right: 20px;
}
    .genre-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        max-width: 600px;
}
    .genre-buttons a {
        width: 30%;
        max-width: 180px;
}
    .company_info {
        width: 100%;
        margin: 50px auto;
        padding: 0 20px;
}
    /* フォーム */
    .form_container {
        width: 100%;
        padding: 0 10px;
}
/* 店舗リスト */
    .shop_list_container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        margin-left: 0;
        margin-right: 15px;

}

    .shop_item {
        width: 80vw;
        height: 300px;
        margin-bottom: 7px;
        border-radius: 5px;
    }
    .shop_item > div {
        width: 80vw;
        height: 150px;
        overflow: hidden;
    }
    
    .shop_item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .shop_item_text {
        padding: 1rem;
    }
    
    .shop_item_text p:nth-of-type(2){
        height: 61px;
        width: 100%;
        overflow-y: scroll;
    }
    
    .shop_item_text p {
        font-size: 0.8em;

    }
    /* 店舗詳細 */
    .shop_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
        padding: 80px 15px 0 15px;
    }

    .shop_info_L {
        width: 100%;
        min-width: 270px;
        margin: 0 auto;
        text-align: center;

    }

    .shop_info_L img{
        width: 100%;
    }

    .shop_info_R {
        width: 80%;
        height: auto;
        min-width: 300px;
        padding-bottom: 20px;
    } 

    .shop_info_R > p{
        text-align: center;
    } 
    
    .info-container {
        display: flex;
        flex-direction: column;
    }
    
    .price_genre  {
        display:block;
    }
    .price_genre p {
        display:block;
        padding-bottom: 0.3em;
        text-align: center;
    }
    
    .info-scroll {
        height: 150px;
        overflow-y: scroll;
        margin-top: 20px;
    }
    
    .shop_info_R p {
        font-size: 0.9em;
    }

        /* レビューと予約 */
    .shop_contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0 0;


        
    }

    /* レビュー */
    .review_container {
        align-items: center;
        width: 100%;
        max-width: 450px;
        padding: 0 20px;
        
    }

    .btn_rev {
        padding: 15px 10px 5px 10px;
        font-size: 0.8em;
    }

    .review_contents {
        margin: 15px 5px;
    }



    /* 予約フォーム */
    .booking-container {
        width: 100%;
        max-width: 450px;
        padding: 0;
        margin-left: 0;
    }

    .booking_header p {
        font-size: 0.7em;
    }

    .booking_header, .booking_form {
        width: 90%;
    }

/* マイページ */

    .btn_basic {
        font-size: 1em;
        padding: 6px 7px;
        text-wrap: nowrap;
    }

    .mypg_container {
        width: 90vw;        
    }
    
    .mypg_container th, td {
        font-size: 13px;
    }
    .mypg_container th {
        text-wrap: nowrap;
    }

    
    .new_booking_container {
        height: auto;
        max-height: 200px;
    }
    
    .fav_rev_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 50px auto;
    }
    
    .fav_rev_tble {
        height: auto;
        max-height: 300px;
        overflow-y: auto;
    }
    
    .fav_rev_item {
        width: 100%;
        margin: 20px 0;
    }
    
    .fav_rev_item h3{
        padding-bottom: 5px;
    }
    
    .past_booking_container {
        width: 100%;
        height: auto;
        max-height: 200px;
        overflow-y: auto;
        margin-top: 10px;
    }

    /* 会社概要 */
    .company_info {
        width: 100%;
        min-width: 200px;
        margin: 50px auto;
    }
    .company_info td {
        font-size: 1rem;
    }
    /* 会員規約 */
    .reguration-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 100vw;
    }
    .reguration {
        width: 90vw;
    }

    .center {
        width: 90vw;
    }

}


/* 管理者専用サイト */

/* h2の設定 */
.admi_h2 {
    color: #000000;
    display: inline;
    font-size: 20px;
}
/* 上下マージン */
.space_topbottom {
    margin: 40px auto;
}


  /* 管理者 ヘッダー */
.admi_menu_container {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 3px;
    
}

.admi_menu_container > a {
    text-decoration: none;
    color: #000;
    padding-right: 10px;
    font-size: 0.9em;

}
.admi_menu_container nav a {
    padding-left: 10px;
}

#menu-sp {
    display: none;
  }

#close {
    display: none;
  }

#nav-sp {
    display: none;
}

/* ページリンク */
.page_paginator {
    font-size: 0.8rem;
}

.page_paginator a{
    color: #000000;
    margin-right: 5px;
}

/* フォーム */
.add_form label:after {
     content: " *必須";
     color: red;
     font-size: 0.8em;
}

.add_form input {
    margin-bottom: 15px;
}

.add_form .checkbox label::after {
    content: none;
}

/* 管理者側　会員規約 */
.reguration-container {
    width: 600px;
    height: auto;
    min-height: 500px;
    margin: 50px auto;

}


.reguration {
    border: 0.8px solid #000000;
    padding: 20px;
    margin-top: 20px;
}

/* 一覧用container */
.list_container {
    max-width: 800px;
    margin: 70px auto;
}

/* 管理者 フッター */
.admi_footer {
    background-color: #D9D9D9;
    width: 100vw;
}
.admi_footer p {
    text-align: center;
    font-size: 0.8em; 
}
.admi_footer a, .admi_footer p {
    color: #000000;
}

.admi_footer a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;

}

@media screen and (max-width: 767px) {
    body {
        position: relative;
        min-width: 375px;
        margin: 0;
      }
    
      /* PC用ナビゲーション非表示 */
      #nav-pc {
        display: none;
      }
    
      /* ハンバーガーメニュー */
      #menu-sp {
        display: block;
        position: absolute;
        top: 65px;
        right: 10px;
        width: 45px;
        height: 45px;
      }

      #close {
        display: block;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      #space {
        margin: 100px 0 30px 20px;
      }
        /* スマホ用ナビゲーションの表示切替 */
    /* 初期状態、レイアウトと非表示設定 */
    #nav-sp {
        display: block;
        background-color: #D9D9D9;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        display: none;
        z-index: 100;
    }
    /* ナビゲーションのリンクの装飾設定 */
    #nav-sp > a {
        display: block;
    }
    #nav-sp > a:link {
        color: #000;
    }
    #nav-sp > a:visited {
        color: #000;
    }
    #nav-sp > a:hover {
        color: #ffffff;
        text-decoration: underline;
    }
    #nav-sp > a:active {
        color: #ffffff;
    }
    #nav-sp > .menu {
        text-decoration: none;
        display: block;
        margin: 0 20px 0 20px;
        height: 50px;
        font-size: 16px;
    }

    /* 一覧用container */
    .list_container {
        max-width: 100vw;
        padding: 0 10px;
        margin: 70px auto;
    }
    /* テーブル */
    .admi-tbl th {
        text-wrap: nowrap;
        
    }
}