{% extends "base.html" %}
{% load bootstrap %}

{% block head %}<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{% endblock %}

{% block content %}
<h1>予約内容の確認</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>予約日</th>
                <td>{{ booking_form_data.booking_date }}</td>
            </tr>
            <tr>
                <th>予約時間</th>
                <td>{{ booking_form_data.booking_time }}</td>
            </tr>
            <tr>
                <th>予約人数</th>
                <td>{{ booking_form_data.numbers_of_ppl }}</td>
            </tr>
        </table>
        <button type="submit">予約を確定する</button>
    </form>
{% endblock %}