{% extends "base_admi.html" %}
{% load bootstrap %}


{% block title %}新規ジャンル追加{% endblock %}

{% block content %}
  <div class="mt-5 form_container">
    <h2>新規ジャンル追加</h2>
    <form method="post" enctype="multipart/form-data" class="add_form">
      {% csrf_token %}
      {{ form|bootstrap}}
      <br>
      <a href={% url 'admi:genre_list' %}>キャンセル</a>   
      <input type="submit" class="btn" style="background-color: #F57F00; color: #FFFFFF; float: right;" value="登録">
    </form>
  </div> 
{% endblock %}