{% extends "base_admi.html" %}
{% load bootstrap %}

{% block title %}予約一覧{% endblock %}

{% block content %}
<div class="list_container">
    <h2 class="admi_h2">予約一覧</h2>
    <table class="table table-hover table-bordered admi-tbl">
      <thead class="table-secondary">
        <tr style="text-align: center;">
          <th>ID</th>
          <th>店名</th>
          <th>ジャンル</th>
          <th>予約日</th>
          <th>予約時間</th>
          <th>操作</th>
        </tr>
      </thead>
      {% for booking in object_list %}
      <tr>
          <td>{{ booking.id }}</td>
          <td>{{ booking.restaurant.name }}</td>
          <td>{{ booking.restaurant.genre.name }}</td>
          <td>{{ booking.booking_date }}</td>
          <td>{{ booking.booking_time }}</td>
          <td style="text-align: center;">
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:booking_detail' pk=booking.id %}'" style="color: #FFFFFF;">詳細</button>
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:edit_booking' pk=booking.id %}'" style="color: #FFFFFF;">編集</button>
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:delete_booking' pk=booking.id %}'" style="color: #FFFFFF;">削除</button>         
          </td>
      </tr>
      {% endfor %}
    </table>

    <!-- ページの表示 -->
    <div class="page_paginator">
    {{page_obj.number}} / {{page_obj.paginator.num_pages}} ページ<br>

    <!-- 前へ -->
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{page_obj.previous_page_number}}">前へ</a>   
    {% endif %}

    <!-- 次へ -->
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">次へ </a>
    <a href="?page={{page_obj.paginator.num_pages}}">最後</a>   
    {% endif %}
    </div>
</div>
{% endblock %}