{% extends "base_admi.html" %}
{% load bootstrap %}


{% block title %}規約情報更新{% endblock %}

{% block content %}
  <div class="mt-5 form_containe reguration-container">
    <h2>規約情報更新</h2>
    <form method="post" enctype="multipart/form-data" class="add_form" >
      {% csrf_token %}
      {{ form|bootstrap}}
      <br>
      <a href={% url 'admi:reguration' %}>キャンセル</a>           
      <input type="button" onclick="submit();" class="btn" style="background-color: #F57F00; color: #FFFFFF;" value="更新">
    </form>
  </div> 
{% endblock %}