{% extends "base_admi.html" %}
{% load bootstrap %}

{% block title %}ジャンル一覧{% endblock %}

{% block content %}
<div class="list_container">
    <h2 class="admi_h2">ジャンル一覧</h2>
    <button class="btn" style="background-color: #F57F00; color: #FFFFFF; float: right; margin-bottom: 5px;" onclick="location.href='{% url 'admi:add_genre' %}'">新規作成</button>
    <table class="table table-hover table-bordered admi-tbl">
      <thead class="table-secondary">
        <tr style="text-align: center;">
          <th>ジャンル名</th>
          <th>画像</th>
          <th>操作</th>
        </tr>
      </thead>
      {% for genre in object_list %}
      <tr>
          <td>{{ genre.name }}</td>
          <td>
            {% if genre.image %}
            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
            {% else %}
            No Image
            {% endif %}
          </td>
          <td style="text-align: center;">
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:edit_genre' pk=genre.id %}'" style="color: #FFFFFF;">編集</button>
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:delete_genre' pk=genre.id %}'" style="color: #FFFFFF;">削除</button>         
          </td>
      </tr>
      {% endfor %}
    </table>

    <!-- ページの表示 -->
    <div class="page_paginator">
    {{page_obj.number}} / {{page_obj.paginator.num_pages}} ページ<br>

    <!-- 前へ -->
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{page_obj.previous_page_number}}">前へ</a>   
    {% endif %}

    <!-- 次へ -->
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">次へ </a>
    <a href="?page={{page_obj.paginator.num_pages}}"> 最後</a>   
    {% endif %}
    </div>
</div>
{% endblock %}