{% extends "base_admi.html" %}
{% load bootstrap %}

{% block title %}売上管理{% endblock %}

{% block content %}
  <h2>売り上げ集計</h2>
  <form method="GET" action="{% url 'admi:sales_summary' %}">
    <label for="year">年を選択してください：</label>
    <select name="year" id="year">
      <option value="">すべて</option>
      {% for year in years %}
        <option value="{{ year }}" {% if year == selected_year %} selected {% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
    <button type="submit">選択</button>
  </form>

  {% if selected_year %}
    <h2>{{ selected_year }}年の売上</h2>
    <table>
      <thead>
        <tr>
          <th>月</th>
          <th>月間売上</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in monthly_sales %}
          <tr>
            <td>{{ sale.month }}月</td>
            <td>{{ sale.total_sales }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}