{% extends "base_admi.html" %}
{% load bootstrap %}

{% block head %}<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{% endblock %}

{% block title %}店舗一覧{% endblock %}

{% block content %}
<div class="company_info">
    <h2 class="admi_h2">店舗一覧</h2>
    <button class="btn" style="background-color: #F57F00; color: #FFFFFF; float: right; margin-bottom: 5px;" onclick="location.href='{% url 'admi:add_shop' %}'">新規作成</button>
    <table class="table table-hover table-bordered">
      <thead class="table-secondary">
        <tr style="text-align: center;">
          <th>ID</th>
          <th>店名</th>
          <th>カテゴリ</th>
          <th>操作</th>
        </tr>
      </thead>
      {% for restaurant in object_list %}
      <tr>
          <td>{{ restaurant.id }}</td>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.genre }}</td>
          <td style="text-align: center;">
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:shop_detail' pk=restaurant.id %}'" style="color: #FFFFFF;">詳細</button>
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:edit_shop' pk=restaurant.id %}'" style="color: #FFFFFF;">編集</button>
            <button class="btn btn-secondary" onclick="location.href='{% url 'admi:delete_shop' pk=restaurant.id %}'" style="color: #FFFFFF;">削除</button>         
          </td>
      </tr>
      {% endfor %}
    </table>

    <!-- ページの表示 -->
    <div class="page_paginator">
    {{page_obj.number}} / {{page_obj.paginator.num_pages}} ページ<br>

    <!-- 前へ -->
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{page_obj.previous_page_number}}">前へ</a>   
    {% endif %}

    <!-- 次へ -->
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">次へ </a>
    <a href="?page={{page_obj.paginator.num_pages}}">最後</a>   
    {% endif %}
    </div>
</div>
{% endblock %}