<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <!-- ロゴ -->
        <div class="logo-container">
            <p>管理者専用</p>
            <h1><a href="{% url 'admi:admi_login' %}"><img src="/static/admi/logo.png" alt="ロゴ"></a></h1>
        </div>
        <!-- ナビゲーション -->
        <div class="admi_menu_container">
        {% if request.user.is_authenticated %}
            {% if request.user.is_manage_member %}        
            <a class="admi_logout_link" href="{% url 'admi:admi_logout' %}">ログアウト</a>
            <nav class="admi_menu" id="nav-pc">
                <a href="{% url 'admi:company_update' pk=2 %}">会社情報編集</a>
                <a href="{% url 'admi:shop_list' %}">店舗情報</a>
                <a href="{% url 'admi:genre_list' %}">ジャンル一覧</a>
                <a href="{% url 'admi:user_list' %}">会員情報</a>
                <a href="{% url 'admi:booking_list' %}">予約情報</a>
                <a href="{% url 'admi:sales_list' %}">売上管理</a>
            </nav>
            <!-- スマホ用メニュー -->
            <img id="menu-sp" src="/static/admi/menu.svg" alt="ナビゲーションを開く" onclick="document.getElementById('nav-sp').style.display = 'block'">
            <!-- スマホ用ナビゲーション -->
            <nav id="nav-sp">
                <img id="close" src="/static/admi/close.svg" alt="ナビゲーションを閉じる" onclick="document.getElementById('nav-sp').style.display = 'none'">
                <div id="space"></div>
                <a class="menu" href="{% url 'admi:company_update' pk=2 %}" onclick="document.getElementById('nav-sp').style.display = 'none'">会社情報編集</a>
                <a class="menu" href="{% url 'admi:shop_list' %}" onclick="document.getElementById('nav-sp').style.display = 'none'">店舗情報</a>
                <a class="menu" href="{% url 'admi:genre_list' %}" onclick="document.getElementById('nav-sp').style.display = 'none'">ジャンル一覧</a>
                <a class="menu" href="{% url 'admi:user_list' %}"
                onclick="document.getElementById('nav-sp').style.display = 'none'">会員情報</a>
                <a class="menu" href="{% url 'admi:booking_list' %}"
                onclick="document.getElementById('nav-sp').style.display = 'none'">予約情報</a>
                <a class="menu" href="{% url 'admi:sales_list' %}"
                onclick="document.getElementById('nav-sp').style.display = 'none'">売上管理</a>
        
            </nav>
            {% else %}
                {% if request.path != '/admi/login/' %}
            <a class="admi_logout_link" href="{% url 'admi:admi_login' %}">ログイン</a>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <!-- フッター -->
    <footer class="admi_footer">
        <div>
            <p><a href="{% url 'top' %}" >NAGOYAMeSHi TOPへ</a><a href="{% url 'company' pk=2 %}" >会社概要</a></p>
            <p>&copy;NAGOYAMeSHi 2024</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>