{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@430&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script> 
    {% block head %}{% endblock %}
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <!-- ロゴ -->
        <div class="logo-container">
            <p>名古屋のB級グルメ専門！</p>
            <h1><a href="{% url 'top' %}"><img src="/static/general/images/logo.png" alt="ロゴ"></a></h1>
        </div>
        <!-- ナビゲーション -->
        {% if request.user.is_authenticated %}
        <nav>
            <a class="header_btn" href="{% url 'mypage' pk=user.id %}">MYPAGE</a>
            <a class="logout_link" href="{% url 'logout' %}">ログアウト</a>
            <p>
                ようこそ！{{user.get_username}}さん
            </p>          

            </div>
        </nav>
            {% else %}
        <nav> 
            {% if request.path != '/general/login/' %}
            <a href="{% url 'login' %}">ログイン</a>
            {% endif %}
            <a class="header_btn" href="{% url 'register' %}">新規登録</a>
            
        </nav>
        {% endif%}
    </header>
    {% block content %}{% endblock %}
    
    <!-- フッター -->
    <footer>
        <nav>
            <p><a href="{% url 'company' pk=2 %}" >会社概要</a><a href="{% url 'reguration' %}" >会員規約</a></p>
            <p>&copy;NAGOYAMeSHi 2024</p>
        </nav>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% comment %} slickの読み込み {% endcomment %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/static/general/js/script.js"></script>


</body>
</html>